@charset "UTF-8";

.hidden {
  display: none;
}

header {
	position: relative;
	top: 100px;
	margin: 0px auto;
	text-align: center;
}


#titleCenter {
	width: 55%;
}

body {
	margin: 0px;
	border: 0px;
	background: url('../images/dark-bc-01.png') no-repeat center;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

#boards {
	width: 100%;
	text-align: center;
}

.music-board {
  width: 1667px;
	height: 834px;
	background-image: url('../images/bc.jpg');
	background-repeat: no-repeat;
  margin-top: 85px;
	display: inline-block;
}

.instruments {
  width: 1200px;
  height: 550px;
  background-image: url(../images/music-board.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: inline-block;
}


.display {
  display: inline-flex;
  flex-direction: row;
  margin-top: 50px;
  max-width: 1000px;
}

.board-1 {
	position: relative;
  left: 200px;
  top: 340px;
}

.board-2 {
	position: relative;
  left: 600px;
  top: 20px;
}

.board-3 {
	position: relative;
  left: 830px;
  top: 150px;
}

.board-4 {
	position: relative;
  left: 1240px;
  bottom: 250px;
}

.drag-box{
  height: 150px;
  width: 200px;
}

.display-1 {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.idisplay-2 {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.display-3 {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.display-4 {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.reset-button {
  display: flex;
  justify-content: space-evenly;
  order: 1;
}

button#reset{
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
